@model IEnumerable<TomarCampApp.Models.Pais>

@{
    ViewBag.Title = "Index";
}

<h2>Encarregados de Educação</h2>

<p>
    @Html.ActionLink("Criar Conta", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Nome, "Details", new { id = item.ID }) | @Html.ActionLink("✏️", "Edit", new { id = item.ID })
        </td>
        
    </tr>
}

</table>
