@model IEnumerable<TomarCampApp.Models.Concretizacao>

@{
    ViewBag.Title = "Index";
}

<h2>Concretizações</h2>

@if (User.IsInRole("Func"))
{
<p>
    @Html.ActionLink("Criar Nova Concretização", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Atividade.Nome)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Atividade.Nome, "Details", new { id=item.ID}, null)
        </td>
        
        
    </tr>
}

</table>
