@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>Contactos</h2>
    
</hgroup>
<div>
    <address>
        Edifício de St Maria dos Olivais<br />
        Rua Alexandre Herculano nº20
        Tomar
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Telemóvel:</strong>   <a href="#">249 324 101</a><br />
        <i class="icon-envelope"></i><strong>Telefone:</strong> <a href="#">961 086 857</a><br />
        <i class="icon-envelope"></i><strong>Site da Junta:</strong>   <a href="http://www.freg-sjoaosmaria-tomar.pt/">http://www.freg-sjoaosmaria-tomar.pt/</a><br />
    </address>
</div>