@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <h1><img src="~/imagens/animaLogo.png" /><img src="~/imagens/Juntanima.png"></h1>
</div>
<div class="card">
    <h3>
        <b>Junt'anima </b>é um <b>campo de férias </b>onde pode deixar os seus filhos e gozar de um tão merecido dia de descanso! :D
        Não fique com dúvidas!<span style='text-decoration:none;'> @Html.ActionLink("Contacte-nos", "Contact", "Home") </span>e conheça as nossas maravilhosas equipas!
    </h3>

  
    <!-- Footer -->
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <img src="~/imagens/parcerias.png" />
        </div>
        <!-- Copyright -->

    </footer>
</div>