@model IEnumerable<TomarCampApp.Models.Atividades>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Atividades</h2>
@if (User.IsInRole("Func"))
{
<p>
    @Html.ActionLink("Criar Nova Atividade", "Create") |
    
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)

        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Nome, "Details", new { id = item.ID })
            @if (User.IsInRole("Func"))
            {
                <text>
                     | @Html.ActionLink("✏️", "Edit", new { id = item.ID })
                </text>
            }
        </td>
        
       
    </tr>
}

</table>
